.categoryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.categoryHead {
  text-transform: capitalize;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  writing-mode: vertical-rl;
}

.showJoke {
  background-image: linear-gradient(
    to bottom right,
    rgb(179, 0, 0),
    rgb(99, 9, 9)
  );
  color: white;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
  box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.showJoke:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    rgb(124, 0, 0),
    rgb(46, 4, 4)
  );
}

.categoryInfo {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.categoryInfo:hover {
  cursor: pointer;
  opacity: 0.7;
}
