.contentContainer {
  display: block;
  background: url("../assets/american-flags.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 116px - 85px);
  padding: 100px 0;
}

.contentTitle {
  font-size: 40px;
  color: rgb(12, 45, 75);
  text-shadow: 2px 2px 2px rgba(13, 12, 15, 0.5);
  text-align: center;
  margin: 40px 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid slategray;
}

.content {
  width: 90%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  background-color: white;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.7), -5px 0px 10px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
