.container {
  background: url("../assets/chuck-norris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 116px - 85px);
}

.loginBox {
  width: 90%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 24px 48px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.7);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.loading {
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 2px gray;
}

.authBtn {
  background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(61, 61, 61)
  );
  color: white;
  height: 30px;
  border: none;
  outline: none;
  width: 90px;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
  box-shadow: 5px 3px 4px rgba(0, 0, 0, 0.5);
}

.authBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom right,
    rgb(31, 31, 31),
    rgb(80, 80, 80)
  );
}

.authBtn:disabled {
  cursor: default;
  background-image: linear-gradient(
    to bottom right,
    rgb(138, 138, 138),
    rgb(207, 207, 207)
  );
  box-shadow: none;
}
