.search {
  display: flex;
  justify-content: space-between;
  font-size: small;
  color: grey;
  padding: 20px;
  border-bottom: 1px solid gainsboro;
}

.searchWarn {
  color: rgb(100, 134, 179);
}

.searchResult {
  background-color: rgb(241, 241, 241);
  display: flex;
  gap: 10px;
  padding: 10px;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid gainsboro;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.searchResult:hover {
  background-color: rgb(218, 203, 203);
  border: 1px solid rgb(170, 160, 160);
  cursor: pointer;
}

.hasViewed {
  background-color: rgb(196, 196, 196);
  border: 1px solid rgb(196, 196, 196);
}

.hasViewed:hover {
  background-color: rgb(170, 160, 160);
  border: 1px solid rgb(170, 160, 160);
}

.searchResultContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.searchResultSubDetails {
  text-transform: capitalize;
  margin-top: 10px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  font-size: small;
  color: grey;
}
